<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/notes.css">
	<link rel="icon" href="/favicon.ico">
	<script defer src="../../public/js/clientBase.js"></script>
	<script defer src="../../public/js/clientNotes.js"></script>
	<title>MajaNotes</title>
</head>
<body>
	<h1 id="createButton"><a href="/new">+create</a></h1>
	<h1>MajaNotes  </h1>
	<h1>Our JSON(database) has <%= data.length %> items so far:</h1>
	<div>
	<h2><%= JSON.stringify(data[0]) %></h2>
	<h2><%= JSON.stringify(data[1]) %></h2>
	<h2><%= JSON.stringify(data[2]) %></h2>
	<h2><%= JSON.stringify(data[3]) %></h2>
	</div>
</body>
</html>
